<!--Navbar-->
<nav class="navbar navbar-light secondary-color-dark navbar-1 ">
  <!-- Navbar brand -->
  <a class="navbar-brand text-white titleName" href="/"><span class="text-info">Creative</span>Meet</span></a>
  <!-- Collapse button -->
  <button class="navbar-toggler btn peach-gradient" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15" aria-expanded="false"
    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent15">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/artist-dash">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/blogpage">Blog Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/logout">Logout</a </li>
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->

<div class="container">
  <h1 class="fromtop">Search for Artists<br><i class="fa fa-music" aria-hidden="true"></i> <i class="fa fa-paint-brush"
      aria-hidden="true"></i> <i class="fa fa-camera" aria-hidden="true"></i> <i class="fa fa-film"
      aria-hidden="true"></i></h1>
</div>
<br>
<div class="container shift">
  <div class="nav-wrapper row"></div> 
</div> 
<div class="container cash deep-orange lighten-2">
  <div class="row-just-content-md-center">
  <br>
  </div>
  <div class="row-just-content-md-center">
    <div class="col-md-12 banks">
      <h3 id="featured-artists">Artists You Might Enjoy!</h3>
        {{#each artists}}
        {{!-- {{log dataValues}} --}}
          <ul>
            <li>
              {{!-- <p id="artist-name">ID: {{this.dataValues.id}}</p> --}}
              <p id="artist-name">Name: {{this.dataValues.name}}</p>
              <p id="artist-name">Title: {{this.dataValues.bio}}</p>
              <p id="artist-name">Works: <a href='{{this.dataValues.works}}'>{{this.dataValues.works}}</a></p>
            </li>
          </ul>
        {{/each}}
    </div>
    <br>
</div>